body {
    background-color: #7557c0;
}

.App {
    background-color: #3f3160;
    min-height: 700px;
    width: 500px;
    margin: 40px auto;
    padding: 10px;
}

h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

